@font-face {
  font-family: 'DINPro-Regular';
  src: url('../fonts/DINPro-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Grandesign';
  src: url('../fonts/Grandesign.ttf');
  font-style: normal;
}